#col1 {

margin-left: 100px;
margin-top: 70px;

}


#h1 {

margin-left: 5px;



}

#col2 {


margin-bottom: 70px;



}


#hero {


border-radius: 0 0 20% 20%;


}

#col3 {


padding: 30px;
border-radius: 15px;



}


#nid {

margin-top: -50px;
margin-bottom: 20px;

}
  

#btn {
margin-top: 20px;
padding: 50px;
padding-left: 100px;
padding-right: 100px;
border-radius: 40px;

}





